# Swap files
*.swp

# Toolchain
# Golang project folder
.idea/

# Visual Studio Code
.vscode/

# Build
bin/
log/
vendor/
public/

node_modules/
yarn.lock

# emacs/vim
GPATH
GRTAGS
GTAGS
TAGS
tags
cscope.*

# macOS
.DS_Store

# Debug
*.log
*.pcap

# Binary
webconsole
